.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.font-primary {
  font-family: "Numans", sans-serif !important;
}
.font-secondary {
  font-family: "Playfair Display", serif !important;
}
.section-1,
.section-0 {
  font-family: "Courier New", Courier, monospace;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.541);
}
.section-0 {
  position: fixed;
  top: 0;
  z-index: 9999;
  left: 0;
  width: 100%;
}
.countdown {
  width: 100%;
}
.countdown > li {
  font-family: "Numans", sans-serif;
  font-weight: 500;
  list-style-type: none;
  margin: 0 20px;
}
.countdown > li span {
  font-family: "Numans", sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 80px;
  display: inline-block;
  color: white;
}
.countdown > li p {
  font-size: 20px;
  font-family: "Numans", sans-serif;
  display: block;
  line-height: 30px;
  margin-bottom: 0;
  color: white;
}
.container-auto {
  margin-top: 8%;
}
.heading-1-0 {
  font-family: "Numans", sans-serif;
  font-size: 30px;
  color: white;
  font-weight: 700;
}
.heading-1 {
  font-family: "Numans", sans-serif;
  font-size: 15px;
  color: white;
  font-weight: 700;
}
.heading-2 {
  font-family: "Numans", sans-serif;
  font-size: 12px;
  margin-top: 10px;
  color: white;
  font-weight: 700;
}
.name-1 {
  font-family: "Playfair Display", serif;
}
.date {
  font-family: "Numans", sans-serif;
  font-size: 15px;
  color: white;
  font-weight: 900;
}
.btn-primary-custom {
  background-color: #a9865b;
  padding: 10px 20px;
}
.color-secondary {
  color: #a9865b !important;
}
.color-primary {
  color: #634837 !important;
}
.img-transform {
  transform: rotate(-15deg);
}
